/* Ensure this CSS is included in your stylesheet (e.g., App.css) */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 550px;
  margin: auto;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
  opacity: 1;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-control-left,
.slider-control-right {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-dot {
  cursor: pointer;
  margin: 0 0.5rem;
  color: #888;
  transition: color 0.3s;
}

.slider-dot.active {
  color: #333;
}

@media (max-width: 500px) {
  .w-full.max-w-sm {
    width: 100%;
  }
  .px-5 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pb-5 {
    padding-bottom: 1.25rem;
  }
}

